.uploader-wrapper {
  display: flex;
  flex-direction: column;
}

.uploader-flex {
    display: flex;
    flex-direction: row;
}

label {
    cursor: pointer;
    font-size: 1em;
 }

.img-upload {
    display: flex;
    width: 84px;
    height: 84px;
    border-radius: 13px;
    background: #212937;
    margin-right: 10px;
    align-items: center;
    justify-content : center;
}

.img-upload svg{
    width: 21.96px;
    height: 21.96px;
    color: #ffffff;
    opacity: 40%;
}

.input-img{
    width: 84px;
    height: 84px;
    border: 0;
    outline: 0;
    border-radius: 13px;
    /*input 없애기*/
    display: none;
}

.img-wrapper img {
    width: 84px;
    height: 84px;
    border-radius: 13px;
    margin-right: 10px;
}

/* carousel 구현 */
.slide-window {
    display: flex;
    flex-direction: row;
    
    overflow: hidden;
}

.imgLoadingAnim {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 10%;
    top: 50%;
    transform-origin: 50%;
 
    margin-left: -21px;
    margin-top: -21px;
    border-radius: 50%;
 
    border: 3px solid #566479;
    border-top-color: transparent;
    border-left-color: transparent;
 
    animation: Rotate 0.8s infinite linear;
    z-index: 100;
 }

 .upload-button {
    
 }
  
 @keyframes Rotate {
   from {transform: rotate(0deg)}
   to {transform: rotate(360deg)}
 }