.header {
  position: fixed;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: 36px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgb(var(--navy));
  z-index: 3;
}

.gobackarrow {
  position: fixed;
  transform: rotate(180deg);
  margin-left: -1%;
  width: 20px;
}

.cateGory {
  display: inline;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  margin: 0;

  width: 100%;
  justify-content: center;
  text-align: center;
}

.category-category {
  padding-top: 70px;
  padding-left: 16px;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 14px;
}

.category-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.025);
  width: calc(100% - 32px);
  border-radius: 13px;
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 8px;
  cursor: pointer;
}

.category-box p {
  display: inline;
  font-size: 15px;
  margin-left: 21px;
  margin-top: 2px;
  float: left;
}

.category-box h1 {
  position: relative;
  display: inline;
  font-size: 15px;
  float: right;
}

.category-box h2 {
  display: inline;
  font-size: 15px;
  margin-left: 3px;
}

.category-box .detail-icon {
  position: relative;
  display: inline;
  color: rgba(255, 255, 255, 0.4);
  width: 20px;
  height: 20px;
  float: right;
  margin-left: 5px;
  margin-right: 20px;
  top: -3px;
  cursor: pointer;
}

.detailType {
  position: relative;
  padding: 60px 16px 0 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

.detailType .detailTypeRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.detailCellContainer {
  padding: 0 16px;
  border-bottom: 1px solid #212937;
  padding-bottom: 14px;
}

.detailCellDate {
  padding: 14px 0;
  padding-left: 4px;
  font-size: 12px;
  opacity: 0.5;
}

.detailCellDetail {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 17px;
}
