.menu {
  position: fixed;
  width: 100%;
  height: 11%;
  padding: 13px 2%;
  left: 0px;
  bottom: 0px;
  z-index: 5;
  background-color: #141b27;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400px;
  font-size: 10.2px;
  line-height: 10px;
  /* identical to box height, or 100% */

  text-align: center;

  
}

.link {
  color: #939393;
  text-decoration: none;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon_img {
  width: 20px;
  height: 20px;
}

.focused {
  color: white;
  text-decoration: none;
}

.focused:hover {
  background-color: rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.focused img {
  filter: brightness(0) invert(1);
}

.text {
  position: relative;
  top: 5.4px;

  color: #ffffff;
}

.text2 {
  position: relative;
  top: 5.4px;

  color: #939393;
}

.floating {
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 11%;
  color: #00c982;
  background-color: #00c982;
  border-radius: 100px;
  z-index: 10;
}

.floating .plus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 12.5px;
  left: 12.5px;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
