@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  background-color: #141b27;
  font-family: Pretendard;
}

.title_icon {
    margin-top: 10%;
    margin-left: 88%;
}

.title_icon svg {
    width: 22px;
    height: 22px;
    color: rgba(255, 255, 255, 0.6);
  }

/*검색어 이전 버튼*/
.searchBackBtn {
    position: absolute;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 0;
    z-index: 1;
}

/*상단 검색창 및 프로필*/
.topbar {
    float: left;
    position: relative;
    width: 76%;
    height: 36px;
    font-size: 15px;
    border: 0;
    border-radius: 8px;
    outline: none;
    margin-top: 8%;
    left: 6%;
    padding: 10px;
    font-family: Pretendard;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
}

.topbar img {
    position: relative;
    top: -6%;
    width: 20.4px;
    height: 20px;
    background-color: transparent;
}

.topbar input {
    position: absolute;
    top: 0%;
    width: 90%;
    height: 36px;
    font-size: 15px;
    border: 0;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    font-family: Pretendard;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    opacity: 30%;
}

.topbar input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 1);
    opacity: 1; /* Firefox */
    font-family: Pretendard;
    font-size: 15px;
}

.topbar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 1) !important;
    font-family: Pretendard;
    font-size: 15px;
}

.topbar input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 1);;
    font-family: Pretendard;
    font-size: 15px;
}

.topbar2 {
    float: left;
    position: relative;
    width: 76%;
    height: 36px;
    font-size: 15px;
    border: 0;
    border-radius: 8px;
    outline: none;
    margin-top: 8%;
    left: 16%;
    padding: 10px;
    font-family: Pretendard;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
}

.topbar2 img {
    position: relative;
    top: -6%;
    width: 20.4px;
    height: 20px;
    background-color: transparent;
}

.topbar2 input {
    position: absolute;
    top: 0%;
    width: 90%;
    height: 36px;
    font-size: 15px;
    border: 0;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    font-family: Pretendard;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    opacity: 30%;
}

.topbar2 input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 1);
    opacity: 1; /* Firefox */
    font-family: Pretendard;
    font-size: 15px;
}

.topbar2 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 1) !important;
    font-family: Pretendard;
    font-size: 15px;
}

.topbar2 input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 1);;
    font-family: Pretendard;
    font-size: 15px;
}

.profile {
    float: right;
    margin-top: 9%;
    margin-right: 6%;
}

/*drop box*/
.drop_box_dimm {
    color: #90949b;
    background: rgba(86, 100, 121, 0.2);
}

.drop_box_selected {
    color: rgb(var(--navy));
    background-color: #00c982;
}

.drop_box {
    position: relative;
    left: 6%;
    margin: 3.3% 0% 3.6% 0%;
    font-family: Pretendard;
}
  
.drop_box button {
    font-family: Pretendard;
    font-size: 13px;
    font-weight: 600;
    /* width: 20%; */
    border-radius: 40.94px;
    margin-right: 2.2%;
    padding: 2% 2.8%;
    position: relative;
    text-align: center;
    border: 0;
    cursor: pointer;
    z-index: 1;
}

.drop_box_category {
    color: #00C982;
    background-color: rgba(86, 100, 121, 0.2);
}

/*border line*/
.border_line {
    background-color: #212937;
    width: 100%;
    height: 1px;
}

.border_deepline {
    position: relative;
    background-color: #0E1624;
    width: 100%;
    height: 8px;
}

/*게시글 박스*/
.post_container {
    width: 90%;
    margin: 4% 6%;
    position: relative;
}

.post_container h1{ 
    /*내역없음*/
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    color: #AEAEAE;
    text-align: center;
    position: relative;
    transform: translateY(100%);
};

/*게시글*/
.post_container .post_box {
    width: 100%;
    margin: 0 auto;
}

.post_container .post_box img {
    float: left;
}

.post_container .post_box .star_img{
    float: right;
    margin-top: 1%;
}

.post_container .post_box h2{
    float: left;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    margin: 2%;
}

.post_container .post_box p{
    float: left;
    font-family: Pretendard;
    font-size: 11px;
    font-weight: 400;
    color: #AEAEAE;
    margin: 2.5% 0%;
}

.img_box {
    position: relative;
    margin: 0 auto;
    width: 88%;
    height: 25%;
    border-radius: 8px;
    background-color: #212937;
}

.img_box img{
    position: relative;
    margin: 0 auto;
    left: 48%;
    top: 45%
}

.post_container .text_box {
    width: 88%;
    padding-top: 4%;
    margin-bottom: 4%;
    position: relative;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.54px;
    overflow: hidden;
}

.post_container .react_box {
    width: 100%;
    margin-bottom: 4%;
    position: relative;
}

.post_container .react_box img{
    float: left;
}

.post_container .react_box h1{
    float: left;
    font-family: Pretendard;
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 400;
    margin: 0% 4.5% 4% 2.5%;
}

/*글쓰기 버튼*/
.writing {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 4vw;
    bottom: 13%;
    color: #00c982;
    background-color: #00c982;
    border-radius: 100px;
    z-index: 10;
}

.writing .pencil {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 12.5px;
    left: 12.5px;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*글쓰기 페이지 css*/
.backBtn {
    position: absolute;
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 0;
    z-index: 1;
}

.title {
    position: absolute;
    font-size: 18px;
    font-family: Pretendard;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
}

.category {
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.category p{
    font-family: Pretendard;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 500;
}

.inquiry {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15%;
    bottom: 15%;
    position: fixed;
    width: 100%;
}

.time_info_box {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 16px;
}

.time_info_box h1 {
    font-size: 14px;
    font-family: Pretendard;
    font-weight: 600;
    margin-bottom: 4%;
    opacity: 60%;
}

.time_info_box p {
    font-size: 14px;
    font-family: Pretendard;
    line-height: 20px;
}

.time_info_box h4 {
    font-size: 12px;
    font-family: Pretendard;
    line-height: 18px;
    color: #566479;
}

.line_box {
  background-color: #000b21;
  width: 100%;
  height: 8px;
  margin: 5% 0%;
}

.upload_box {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 16px;
}

.upload_box h1 {
    font-size: 14px;
    font-family: Pretendard;
    font-weight: 600;
    margin-bottom: 4%;
    opacity: 60%;
}

.inquiry_submit_btn {
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    bottom: 3%;
}

.inquiry_submit_btn button {
    font-family: Pretendard;
    font-size: 16px;
    width: 90%;
    height: 52px;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    border: 0;
    color: #141B27;
    cursor: pointer;
}

.time_info_box input {
    position: relative;
    width: 100%;
    height: 49px;
    margin: 0 auto;
    margin-bottom: 12px;
    border-radius: 8px;
    font-size: 14px;
    font-family: Pretendard;
    background-color: #2a313c;
    border: 0;
    outline: 0;
    padding-left: 14px;
    color: white;
}

.time_info_box textarea {
    position: relative;
    width: 100%;
    height: 157px;
    margin: 0 auto;
    margin-bottom: 12px;
    border-radius: 8px;
    font-size: 14px;
    font-family: Pretendard;
    background-color: #2a313c;
    border: 0;
    outline: 0;
    padding-top: 14px;
    padding-left: 14px;
    color: white;
    resize: none;
}

.time_info_box input::placeholder textarea::placeholder {
    /*글자색 안바뀜 왜?*/
    fill: #ffffff;
    color: #ffffff;
    font-family: Pretendard;
    font-size: 14px;
}

.time_info_box ::-ms-input-placeholder ::-ms-textarea-placeholder {
    /*글자색 안바뀜 왜?*/
    fill: #ffffff;
    color: #ffffff;
    font-family: Pretendard;
    font-size: 14px;
}

/*최근 검색어*/
.recent {
    position: relative;
    margin: 0 auto;
    width: 88%;
    height: 12%;
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: transparent;
}

.recent h1{
    float: left;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
}

.recent p{
    float: right;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 500;
    opacity: 50%;
}

.recent .recent_box{
    margin: 0% auto;
    width: 96%;
    height: 70%;
    background-color: transparent;
    display : flex;
    justify-content : center;
    align-items : center;
}

.recent .recent_box p{
    font-family: Pretendard;
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/*인기 게시글(리스트)*/
.post_list{
    font-family: Pretendard;
    position: relative;
    margin: 0 auto;
    width: 88%;
    padding-top: 5%;
    background-color: transparent;
}

.post_list h1{
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
}

/*인기 게시글 컴포넌트*/
.postList{
    font-family: Pretendard;
    position: relative;
    margin: 0 auto;
    width: 88%;
    background-color: transparent;
    margin-top: 5%;
}

.postList p{
    font-family: Pretendard;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
}

.postList h1{
    float: left;
    width: 68%;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 12px;
    line-height: 20px;
}

.postList img{
    position: relative;
    float: right;
    top: -15%;
}

.post_view_box {
    font-family: Pretendard;
    position: relative;
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
}

.post_view_box p{
    float: left;
    font-family: Pretendard;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
}

.post_view_box img{
    margin-top: 0.3%;
    float: left;
    margin-left: 18.75px;
    margin-right: 6.75px;
    width: 10px;
    height: 10px;
}

/*글쓰기 버튼*/
.floating {
    position: fixed;
    width: 55px;
    height: 55px;
    right: 5vw;
    bottom: 11%;
    color: #00c982;
    background-color: #00c982;
    border-radius: 100px;
    z-index: 10;
}

.floating .plus {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12.5px;
    left: 12.5px;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*카테고리*/
.category {
    font-family: Pretendard;
    position: relative;
    margin: 0 auto;
    width: 90%;
    background-color: transparent;
}

.category p {
    font-family: Pretendard;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    line-height: 17.55px;
    float: left;
}

.category_btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: 0;
  outline: 0;
  cursor: pointer;
  float: right;
}

/* 게시글 상세보기 */
.post_view_box {
    position: relative;
    top: 15%;
    width: 90%;
    margin: 0 auto;
}

.post_view_box h1{ 
    /*게시글 제목*/
    font-family: Pretendard;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 20px;
}

.post_view_box .post_view_box_2 {
    width: 100%;
    margin: 0 auto;
}

.post_view_box .post_view_box_2 img {
    float: left;
}

.post_view_box .post_view_box_2 .star_img{
    float: right;
    margin-top: 1%;
}

.post_view_box .post_view_box_2 h2{
    float: left;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    margin: 2%;
}

.post_view_box .post_view_box_2 p{
    float: left;
    font-family: Pretendard;
    font-size: 11px;
    font-weight: 400;
    color: #AEAEAE;
    margin: 2.5% 0%;
}

.post_view_box .text_box {
    width: 100%;
    margin: 0 auto;
    padding-top: 4%;
    margin-bottom: 4%;
    position: relative;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.54px;
    overflow: hidden;
}

.post_view_box .react_box {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4%;
    position: relative;
}

.post_view_box .react_box img{
    float: left;
}

.post_view_box .react_box h1{
    float: left;
    font-family: Pretendard;
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 400;
    margin: 0% 4.5% 4% 2.5%;
}