/*전체 페이지 div에 적용 -> 기본 좌우 패딩 적용*/
.page_style {
  width: 100%;
  padding: 0 16px;
}

.floating_page_style {
  width: 100%;
  padding: 0 24px;
}

/*페이지 중 헤더 제외한 영역에 적용 -> 기본 상단 패딩 적용*/
.content_style {
  padding-top: 54px;
  position: relative;
}
